In [1]:
import pandas as pd

In [3]:
#Leitura dos arquivos
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [5]:
df2.head()

      Cidade       Data  Vendas  LojaID  Qtde
0  Fortaleza 2019-01-01   45.27    1002     2
1  Fortaleza 2019-01-01  115.61    1002     3
2  Fortaleza 2019-02-10   35.33    1004     3
3  Fortaleza 2019-02-10   20.95    1004     6
4  Fortaleza 2019-01-01   14.25    1004     6

In [7]:
#Juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [8]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [9]:
#5 Ultimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [10]:
#Pegando amostras
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
169      Natal 2019-01-02  166.73    1037     2
42      Recife 2019-01-01  161.45     983     3
165      Natal 2019-01-02   11.54    1037     1
61       Natal 2018-09-11  724.00     853     2
59   Fortaleza 2019-01-01    6.31    1002     3

In [12]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [13]:
#Alterando o tipo de dado do LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [14]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [15]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [17]:
#Verificando Valores null
df.isnull().sum()

0

In [19]:
#Substituindo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [22]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [23]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
29      Recife 2019-01-01   10.18    980     8
46       Natal 2019-03-26  753.00    853     2
9     Salvador 2019-01-01  127.92   1036     1
162      Natal 2019-01-02   23.08   1036     2
111  Fortaleza 2019-03-02    8.00    981     3
184   Salvador 2019-01-02  167.16   1037     1
120      Natal 2019-01-02  140.17   1036     2
38   Fortaleza 2019-01-01   35.09   1004     4
63       Natal 2018-02-12  552.00    852     2
10   Fortaleza 2019-01-01  179.88   1002     4
15   Fortaleza 2019-01-01  195.05   1002     2
1    Fortaleza 2019-01-01  115.61   1002     3
187   Salvador 2019-01-02    3.85   1035     3
198      Natal 2019-01-02   13.65   1037     3
117   Salvador 2019-03-02   39.41   1034     1

In [24]:
#Verificar media
df["Vendas"].mean()

122.61180089485458

In [21]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [25]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [26]:
#Apagando as linhas com valores nulos com base apenas em 1 colunas
df.dropna(subset=["Vendas"], inplace=True)

In [27]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

In [28]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

**Criando colunas novas**

In [29]:
#Criando a coluna de reiceta
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [30]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [31]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [32]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [33]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [34]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [35]:
#nlargest - Escolher os tops, ex top3
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [36]:
#nsmallest 
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [37]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [38]:
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

**Trabalhando com datas**

In [39]:
#Transformando a coluna de data em tipo inteiro
df["Data"] = df["Data"].astype("int64")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

In [41]:
#Transformando a coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [42]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [43]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [44]:
#Criando uma nova coluna com o ano
df["Ano_venda"] = df["Data"].dt.year

In [45]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_venda
124,Natal,2019-01-02,44.82,1034,3,134.46,3.0,2019
79,Aracaju,2018-01-01,5.59,1521,4,22.36,4.0,2018
130,Recife,2019-03-02,12.36,983,4,49.44,4.0,2019
80,Recife,2019-01-01,114.14,982,8,913.12,8.0,2019
176,Salvador,2019-01-02,19.42,1035,3,58.26,3.0,2019

In [48]:
#extraindo o mês e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [51]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_venda,mes_venda,dia_venda
146,Salvador,2019-01-02,149.88,1037,1,149.88,1.0,2019,1,2
92,Aracaju,2018-01-01,37.46,1520,7,262.22,7.0,2018,1,1
22,Recife,2019-01-01,39.53,983,3,118.59,3.0,2019,1,1
52,Aracaju,2018-01-01,14.76,1520,3,44.28,3.0,2018,1,1
227,Natal,2019-01-02,14.70,1035,1,14.70,1.0,2019,1,2

In [52]:
#Extraindo a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [53]:
#Calculando a diferença de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [54]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_venda,mes_venda,dia_venda,diferenca_dias
32,Natal,2019-03-17,244.00,854,2,488.00,2.0,2019,3,17,440 days
10,Fortaleza,2019-01-01,179.88,1002,4,719.52,4.0,2019,1,1,365 days
14,Natal,2018-06-03,660.00,853,3,1980.00,3.0,2018,6,3,153 days
129,Aracaju,2018-01-01,13.70,1522,6,82.20,6.0,2018,1,1,0 days
96,Aracaju,2018-01-01,85.92,1521,2,171.84,2.0,2018,1,1,0 days

In [55]:
#Craidno a coluna de trimestre

df["trimestre_venda"] = df["Data"].dt.quarter

In [56]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
83,Recife,2019-01-01,143.61,983,6,861.66,6.0,2019,1,1,365 days,1
64,Natal,2019-02-22,704.00,853,4,2816.00,4.0,2019,2,22,417 days,1
57,Salvador,2019-01-01,11.72,1035,1,11.72,1.0,2019,1,1,365 days,1
27,Recife,2019-01-01,22.25,980,7,155.75,7.0,2019,1,1,365 days,1
83,Fortaleza,2019-01-01,3.88,1002,6,23.28,6.0,2019,1,1,365 days,1

In [61]:
#Filtando as vendas de 2019 do mês de março
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [64]:
vendas_marco_19.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
32,Natal,2019-03-17,244.00,854,2,488.00,2.0,2019,3,17,440 days,1
108,Fortaleza,2019-03-02,152.89,981,4,611.56,4.0,2019,3,2,425 days,1
108,Salvador,2019-03-02,11.72,1037,1,11.72,1.0,2019,3,2,425 days,1
124,Fortaleza,2019-03-02,47.98,983,7,335.86,7.0,2019,3,2,425 days,1
75,Natal,2019-03-30,706.00,854,2,1412.00,2.0,2019,3,30,453 days,1